## Multicollinearity in Linear Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('/config/workspace/Datasets/Advertising.csv', index_col=0)
df.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [7]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [8]:
x.head()

      TV  Radio  Newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [9]:
y.head()

   Sales
1   22.1
2   10.4
3    9.3
4   18.5
5   12.9

In [15]:
pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.13.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 22.7 MB/s eta 0:00:01
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     |████████████████████████████████| 233 kB 41.8 MB/s eta 0:00:01
Requirement already satisfied: scipy>=1.3; (python_version > "3.9" or platform_system != "Windows" or platform_machine != "x86") and python_version < "3.12" in /config/.local/lib/python3.8/site-packages (from statsmodels) (1.10.0)
Requirement already satisfied: pandas>=0.25 in /config/.local/lib/python3.8/site-packages (from statsmodels) (1.5.2)
Requirement already satisfied: numpy>=1.17; python_version != "3.10" or platform_system != "Windows" or platform_python_implementation == "PyPy" in /config/.local/lib/python3.8/site-packages (from statsmodels) (1.24.1)
Requirement already satisfied: packaging>=21.3 in /config/.local/lib/python3.8/site-packages (from statsmodels) (22.0)
Requirement already satisfied: six in /config/.local/lib/python3.8/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in /config/.local/lib/python3.8/site-packages (from pandas>=0.25->statsmodels) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in /config/.local/lib/python3.8/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.13.5
Note: you may need to restart the kernel to use updated packages.

In [16]:
# Fit a OLS model with intercept in TV and Radio
import statsmodels.api as sm
x = sm.add_constant(x)

In [17]:
model = sm.OLS(y, x).fit()

In [19]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Mon, 09 Jan 2023   Prob (F-statistic):           1.58e-96
Time:                        22:48:20   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.9389      0.312      9.422      0.000       2.324       3.554
TV             0.0458      0.001     32.809      0.000       0.043       0.049
Radio          0.1885      0.009     21.893      0.000       0.172       0.206
Newspaper     -0.0010      0.006     -0.177      0.860      -0.013       0.011
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [20]:
x.iloc[:,1:].corr()

                 TV     Radio  Newspaper
TV         1.000000  0.054809   0.056648
Radio      0.054809  1.000000   0.354104
Newspaper  0.056648  0.354104   1.000000